
   
   <header>
        <div class="mainmenu">
            <a href="./index.html"><img class="logo" src="./img/logo.png" alt="Logo"></a>
            <div class="links">
                <a class="header-links" href="./index.html">Start</a>
                <a class="header-links" href="./tortellini.html">Rezept des Tages</a>
                <a class="header-links" href="./contact.html">Kontakt</a>
                <a class="header-links" href="./impressum.html">Impressum</a>
            </div>
        </div>


        <div class="responsiveHeader">
            <div class="mainmenu-mobile">
                <a href="/index.html"><img src="./img/logo.png" class="logo" alt="logo"></a>

                <div class="hamburgerMenu">
                    <img onclick="showMenu()" src="./img/menuIcon.svg">
                </div>

                <div id="hamburger-menu" class="links overlay-menu">
                    <a class="header-links" href="./index.html">Start</a>
                    <a class="header-links" href="./tortellini.html">Rezept des Tages</a>
                    <a class="header-links" href="./contact.html">Kontakt</a>
                    <a class="header-links" href="./impressum.html">Impressum</a>

                    <button onclick="closeMenu()" id="close" class="closeButton">X</button>
                </div>
            </div>
        </div>
    </header>
