<section class="mainContainer">
    <div class="frenchCroissants">
        <img src="./img/recipe-img.jpg" alt="Ghackets mit Hörnli - Bild">

        <div class="recipeCroissant">
            <h2>Ghackets mit Hörnli und Apfelmus</h2>
            <p>
                Einfach, bodenständig und schon fast Kult ist dieser Schweizer Küchenklassiker, <br> dem fast niemand
                widerstehen kann:
                Buttrige Hörnli, würzige Hackfleischsauce,<br> warmes Apfelmus und Reibkäse – was will man mehr!
            </p>
            <a href="./recipe.html">Rezept öffnen</a>
        </div>
    </div>

    <div class="background">
        <div class="section-recipes">
            <h2>Lust auf was Neues?</h2>
            <div class="section-links">

                <a href="./recipe-kaiserschmarrn.html" class="recipes-link">
                    Kaiserschmarrn
                    <img src="./img/kaiserschmarrn.jpg" alt="Kaiserschmarrn-Bild">
                </a>
                <a href="./shashuka.html" class="recipes-link">
                    Shakshuka
                    <img src="./img/shakshuka.jpg" alt="Shakshuka-Bild">
                </a>
                <a href="./tortellini.html" class="recipes-link">
                    Tortellini alla Panna
                    <img src="./img/tortellini-groß.jpg" alt="Tortellini alla Panna-Bild">
                </a>

            </div>
        </div>
    </div>

    <div class="whatbetter-container">
        <h2>Pfanne vs Wok - Was ist besser?</h2>

        <div class="whatbetter">
            <p>
                Der Wok liefert viele Vorteile, die vor allem das Kochen erleichtern, aber auch eine gesunde und
                schnelle Ernährung
                fördern. Der Wok kann sehr hohe Temperaturen erreichen, womit er sich bestens zum Braten, Dämpfen aber
                auch Frittieren
                eignet. Das Reinigen ist ein Kinderspiel, da nichts eingebrannt werden, sondern lediglich mit einem Tuch
                ausgewischt
                werden muss. Zudem müssen die Pfannen kein hohes Gewicht mehr haben oder unbedingt aus Gusseisen sein,
                sondern auch die
                Edelstahl- oder beschichteten Woks können sehr gute Ergebnisse erzielen.
            </p>
            <img src="./img/wok.jpg" alt="">
        </div>

    </div>

</section>